* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  line-height: 1.5;
  color: rgb(43, 48, 49);
  margin: 0;
  background-image: linear-gradient(-100deg, rgba(57, 103, 121, 0.9) 10%, rgba(26, 129, 129, 0.8) 90%);
}


a {
  text-decoration: none;
}

p {
  margin: 0;
}

.search-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  background-color: #17c1d4;
  box-shadow: 0 1px 3px rgba(31, 184, 195, 0.12), 0 1px 1px rgba(144, 197, 211, 0.14),
    0 2px 1px rgba(73, 193, 209, 0.2);
  z-index: 1;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.search-form input {
  width: 20%;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  background-color: rgb(224, 237, 241);
  padding: 8px 10px;
  font: inherit;
}

.search-form button {
  display: flex;    
  justify-content: center;
  align-items: center;
  width: 60px;
  border: none;
  background-color: rgb(170, 191, 191);
  font: inherit;

  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-form button:hover,
.search-form button:focus {
  background-color: rgb(180, 180, 180);
  transition: all 0.3s;
}

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  margin-left: -20px;
  padding-top: 60px;
  justify-content: center;
}

.gallery__link {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  border: 2px solid rgb(238, 240, 241);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
}

.gallery__link:hover,
.gallery__link:focus {
  transform: scale(1.05);
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gallery-item__img {
  display: block;
  height: 30vh;
  object-fit: cover;
}

.info {
  padding: 10px;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
}

.info-item:not(:first-child) {
  margin-left: 5px;
}

.load-more.is-hidden {
  display: none;
}

.load-more {
  display: block;
  margin: 25px auto 20px auto;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f1f2f2;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  font: inherit;
  color: rgb(0, 0, 0);
  cursor: pointer;
}